@import "../scss/layouts/_globals";
@import "../scss/layouts/_mixins";
@import "../scss/layouts/_colors";
@import "../scss/layouts/_fonts";

.b-container {
    width: 100%;
    height: 100vh;
    background: $primary;
    &__content {
        margin: 0 auto;
        @include px-for-rem(450, width);
        @include px-for-rem(450, max-width);
        height: 80vh;
        background: $primary;
        @include for-mobile() {
            @include px-for-rem(316, width);
            @include px-for-rem(316, max-width);
        }
        &-calculator {
            @include transform(translateY(14%));
            display: grid;
            input {
                grid-column: span 4;
                @include px-for-rem(100, height);
                text-align: right;
                border: 10px solid $border;
                outline: none;
                @include px-for-rem(10, padding);
                @include px-for-rem(18, font-size);
            }
            span {
                display: grid;
                @include px-for-rem(60, height);
                @include px-for-rem(2, margin);
                background: $buttons;
                place-items: center;
                font-weight: bold;
                text-transform: uppercase;
                color: $white;
                cursor: pointer;
                &:active {
                    background: $buttons-active;
                    color: #111;
                }
            }

            .clear {
                grid-column: span 2;
                background: $plus;
            }

            .plus {
                grid-row: span 2;
                @include px-for-rem(125, height);
            }

            .equal {
                background: $equal;
            }
        }
    }
    &__footer {
        position: relative;
        height: 17vh;
        > h2 {
            a {
                position: absolute;
                @include px-for-rem(10, bottom);
                @include px-for-rem(20, right);
                font-family: 'Pacifico', cursive;
                text-decoration: none;
                color: $buttons;
                @include for-mobile() {
                    @include px-for-rem(30, bottom);
                    @include px-for-rem(16, font-size);
                }
            }
        }
    }
}